
    <div class='container'>
        <!--<div class='background'></div>-->
        <div class='background-white'></div>
            <div class='row'>
                <div class="col-md-9">
                    <h3>Video Feed</h3>
    	            <canvas #_canvas id="video-canvas"></canvas> 
                </div>
                <div class="col-md-3">
                    <h3>Menu</h3>
                    <button (click)= "saveImage()" class="button"><span class="mif-checkmark"></span>Capture Picture</button>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-12">
                    <h3>Last captured pictures</h3>              
                </div>
            </div>
            <last-pictures [lastImages]="lastImages">
            </last-pictures>
	</div>

