
    <div class='container'>
        <!--<div class='background'></div>-->
        <div class='background-white'></div>
            <div class='row'>
                <div class="col-md-9">
                    <h3>Video Feed</h3>
    	            <canvas #_canvas id="video-canvas"></canvas>
                </div>
                <div class="col-md-3">
                    <h3>Menu</h3>
                    <button class="button"><span class="mif-checkmark"></span>Capture Picture</button>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-12">
                    <h3>Last captured pictures</h3>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->

                </div>
            </div>
	</div>

