<div class='row'>
    <div *ngFor="let image of lastImages" class="col-md-3">
        <div (mouseover)="image.mouseover=true" 
             (mouseleave)="image.mouseover=false"
             [ngClass]="{'element-selected':image.mouseover}" class="image-container animated fadeIn">
            <div class="frame">
                <img src="{{'/app/assets/images/gallery/'+image.imageUrl}}">
            </div>
            <div class="image-overlay">
                <!--<h2>{{image.title}}</h2>-->
                <p>{{image.title}}</p>
            </div>
        </div>
    </div>
</div>