
    <div class='container'>
        <div class='background-white'></div>
            <div class='row'>
                <div class="col-md-12">
                    <h3>Galery</h3>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-12">

            <div class="background-white-container" >
            <div class="set-border padding10 no-padding-top no-padding-bottom">
                <label class="input-control radio small-check">
                    <input (change)="condition=$event.target.value" type="radio" name="r1" value="days" checked>
                    <span class="check"></span>
                    <span class="caption">By Days</span>
                </label>
                <label class="input-control radio small-check">
                    <input (change)="condition=$event.target.value" type="radio" name="r1" value="weeks">
                    <span class="check"></span>
                    <span class="caption">By Weeks</span>
                </label>
                <label class="input-control radio small-check">
                    <input (change)="condition=$event.target.value" type="radio" name="r1" value="months">
                    <span class="check"></span>
                    <span class="caption">By Months</span>
                </label>
                <label class="input-control radio small-check">
                    <input (change)="condition=$event.target.value" type="radio" name="r1" value="hours">
                    <span class="check"></span>
                    <span class="caption">Hours</span>
                </label>
            </div>
            </div> <!--background white end-->
            <br />
            <div class="background-white-container" >
                <sorted-pictures [condition]="condition"></sorted-pictures>
            </div> <!--background white end-->
            
        

                </div>

            </div>
	</div>
